
h1 {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
h5 {
  font-weight: lighter;
  font-size: small;
  margin-top: -30px;
}
.container {
  display: block;

}

#fajr, #sunrise, #dhuhr, #asr, #maghrib, #isha {
  width: 90%;
  background-color: #212124;
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 0rem;
  margin: 20px;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow:5px 10px 8px #212124
}

img {
  width: 10%;
}